@import url('https://fonts.googleapis.com/css?family=Forum|Mali');
* {
  font-family: Georgia, Arial, sans-serif;
}
h1, h2 {
  font-family: 'Mali', cursive;
}
h1 {
  font-size: 1.2em;
  margin: 0;
}
h2 {
  font-size: 1.05em;
  text-align: center;
  margin: 0;
}

body {
  margin: 10% 5%;
  border-radius: 60px;
}
.header {
  border-radius: 60px;
  text-align: center;
  background: #eee;
  border: 6px solid gold;
}

input, select {
  padding: 10px;
  font-size: 1.1em;
  vertical-align: text-bottom;
}

.positive-btn {
  background-color: darkgreen;
  color: #eee;
  padding: 10px;
  vertical-align: text-bottom;
  font-size: 1.1em;
  line-height: 1.1em;
}
p, .the_task {
  vertical-align: text-bottom;
  line-height: 1.1em;
  font-size: 1.1em;
}

.class-code-label {
  text-align: center;
  font-size: small;
  background: #eee;
  margin-left: 35%;
  margin-right: 40%;
}

p.instruksjon, #log {
  font-size: 0.8em;
  text-align: justify;
}

div#count {
  font-size: 3em;
}

@keyframes jumpy {
30% {transform: translateY(-8px);}
50% {transform: translateY(0px);}
50% {transform: translateY(-9px);}
100% {transform: translateY(0px);}
}

@keyframes shaky {
30% {transform: translateX(-12px);}
50% {transform: translateX(0px);}
50% {transform: translateX(-12px);}
100% {transform: translateX(0px);}
}

#stars.bounce span{
  animation-name: jumpy;
}

#stars span, .the_task input {
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-duration: 150ms;
  animation-iteration-count: 4;
}

#stars {
  font-size: 2em;
  text-align: center;
}

#stars span {
  display: inline-block;
}

#stars span.first {
  animation-delay: 0.2s;
}
#stars span.second {
  animation-delay: 0.3s;
}
#stars span.third {
  animation-delay: 0.4s;
}
#stars span.fourth {
  animation-delay: 0.5s;
}

.the_task input {
  width: 35%;
}

.shaky input {
  animation-name: shaky;
}

.flash {
  position: fixed;
  top: 5%;
  left: 20%;
  right: 20%;
  background: yellow;
  opacity: 0.7;
  border-radius: 40px;
}

.grid {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.grid button {
  flex: 1 1 30%;
  font-size: 1em;
}

.grid-2 button {
  flex-basis: 45%;
}
.grid-4 button {
  flex-basis: 22%;
}

.gridbtn {
  background: transparent;
  border-radius: 5px;
  padding: 10px;
  border-style: solid;
}

.gridbtn.selected {
  border-color: green;
  border-width: 5px;
  background: #eee;
}

.bingo p.instruksjon {
  text-align: center;
}

.bingo #students {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.bingo #students li {
  flex: 0 1 20%;
}

/*.mini-bingo-board {
  display: inline-block;
  max-width: 260px;
}*/

@media screen and (min-width: 900px) {
  body {
    font-size: 3em;
    margin: 5% 25%;
  }
  #stars {
    font-size: 1em;
    letter-spacing: 0.4em;
  }
  .col1 {float: left; width: 45%; margin-right: 4%; border-right: 1px solid #eee}
  .col2 {float: right; width: 45%; margin-left: 5%;}
}