<h1>Velkommen til Ziq!</h1>
<form method="post" action="/api/schools/create">
  <p><input type="text" name="school" placeholder="Navn skole" maxlength="100" required></p>
  <p>
    <input type="text" name="className" style="width: 40%" placeholder="1A" maxlength="8" required>
  </p>
  <p>
    Hvilket rom skal elevene bruke i dag?
    <br>
    <select name="session_type">
      {{#each types}}
        <option value="{{mathType}}">{{title}}</option>
      {{/each}}
    </select>
  </p>
  <p>
    <button type="submit" class="default-btn positive-btn">Start ✔</button>
  </p>
  <p class="instruksjon">
    Dette er administrator-skjermbildet.
    Skriv inn skolenavn og klasse for å starte.
  </p>
</form>
