
<h1>Velkommen til mattesammen!</h1>
<form method="post" action="/api/schools/create">
  <p><input type="text" name="school" placeholder="Navn skole" required></p>
  <p>
    <input type="text" name="className" style="width: 40%" placeholder="1A" required>
    <button type="submit" class="default-btn positive-btn">Start ✔</button>
  </p>
  <p class="instruksjon">
    Dette er administrator-skjermbildet.
    Skriv inn skolenavn og klasse for å starte.
  </p>
</form>
