<h1>Velkommen til {{className}} på {{school}}</h1>
<form method="post" action="/api/student/access">
  <p>Hva heter du?</p>
  <p>
    <input type="text" name="nick" placeholder="Fornavn" {{#if nick}}value="{{nick}}" {{/if}} maxlength="80" required>
    <input type="hidden" name="pin" value="{{classId}}">
  </p>
  <!--<p>Hvor vanskelige oppgaver vil du begynne med?</p>
  <p>
    <select name="level">
      <option value="0">Lette</option>
      <option value="2">Middels</option>
      <option value="4">Vanskelige</option>
      <option value="6">Veldig vanskelige</option>
    </select>
  </p>-->
  <button type="submit" class="default-btn positive-btn">✔</button>
  </p>
</form>
