
<h1>Velkommen!</h1>
<form method="post" action="/api/student/pin">
  <p>Skriv inn klassekode:</p>
  <p>
    <input type="text" name="classId" style="width: 40%" placeholder="1234" required>
    <button type="submit" class="default-btn positive-btn">✔</button>
  </p>
  <p class="instruksjon">
  	Kode får du av læreren din. Den står også på felles-skjermen.
  </p>
</form>
